<!DOCTYPE html>
<html>
<head>
    <title>Simple Leaflet Map with Heatmap </title>
    <meta charset="utf-8" />
    <link
        rel="stylesheet"
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />

</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <div id="map" style="width: 600px; height: 400px"></div>
    <button type="button" name="button" id="walkscoreButton">walkscore</button>

    <script
       src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>

    <script
       src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js">
    </script>
    <script>

        var map = L.map('map').setView([39.697090037185, -104.987839985354], 10);
        mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);

        $.ajax({
          type: 'GET',
          url: `/data`
        })
        .done((testData) => {
          var heat = L.heatLayer(testData,{
            radius: 20,
            blur: 15,
            maxZoom: 17,
          }).addTo(map);
        })
        .fail((err) => {
          console.log(err);
        });


    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script type= "text/javascript" src="/js/get-walkscore.js"></script>

</body>
</html>
